For this to work, you will need the pyarrow package installed.  Do do this, open the "Anaconda Prompt" and type

_pip install pyarrow_

In [2]:
import pandas as pd

We'll start by reading in a small-ish sample of ETF data from the CRSP daily security file on wrds.wharton.upenn.edu.  This SAS datafile contains ETFs for the year 2018 only.  I'll also drop a few columns we won't need.

In [3]:
etf = pd.read_feather('etfdata_2018.feather')
etf.head()

,PERMNO,DATE,COMNAM,TICKER,SHRCD,PRC,VOL,RET,SHROUT
0,10113.0,2018-01-02,b'ADVISORSHARES TRUST',b'AADR',73.0,60.299999,73052.0,0.024639,2850.0
1,10113.0,2018-01-03,b'ADVISORSHARES TRUST',b'AADR',73.0,60.930000,44385.0,0.010448,2850.0
2,10113.0,2018-01-04,b'ADVISORSHARES TRUST',b'AADR',73.0,61.160000,104484.0,0.003775,2850.0
3,10113.0,2018-01-05,b'ADVISORSHARES TRUST',b'AADR',73.0,61.639999,73198.0,0.007848,2850.0
4,10113.0,2018-01-08,b'ADVISORSHARES TRUST',b'AADR',73.0,61.639999,64271.0,0.000000,2850.0

In [4]:
etf = etf.drop(columns=['COMNAM','SHRCD'])

If we want to see how this works, it is better to cut date range to just a few dates to better illustrate.

In [5]:
etf = etf.loc[etf['DATE']<'2018-1-5']
etf.head(20)

       PERMNO       DATE   TICKER        PRC         VOL       RET    SHROUT
0     10113.0 2018-01-02  b'AADR'  60.299999     73052.0  0.024639    2850.0
1     10113.0 2018-01-03  b'AADR'  60.930000     44385.0  0.010448    2850.0
2     10113.0 2018-01-04  b'AADR'  61.160000    104484.0  0.003775    2850.0
251   11182.0 2018-01-02  b'GASL'  27.610001    185904.0  0.087436    1558.0
252   11182.0 2018-01-03  b'GASL'  28.400000    147624.0  0.028613    1558.0
253   11182.0 2018-01-04  b'GASL'  28.959999    141874.0  0.019718    1558.0
502   11264.0 2018-01-02  b'RETL'  38.040001     52975.0  0.055494     950.0
503   11264.0 2018-01-03  b'RETL'  38.020000     53995.0 -0.000526     950.0
504   11264.0 2018-01-04  b'RETL'  37.259998     84717.0 -0.019990     950.0
753   11363.0 2018-01-02  b'SCIN'  23.760000     29995.0  0.014085    1500.0
754   11363.0 2018-01-03  b'SCIN'  23.820000     16927.0  0.002525    1500.0
755   11363.0 2018-01-04  b'SCIN'  24.020000     11165.0  0.008396    1500.0
1004  11407.0 2018-01-02   b'LIT'  39.669998    510632.0  0.023478   27675.0
1005  11407.0 2018-01-03   b'LIT'  39.880001    836278.0  0.005294   27675.0
1006  11407.0 2018-01-04   b'LIT'  39.840000    697283.0 -0.001003   27675.0
1255  11996.0 2018-01-02  b'EMLC'  19.180000   1235135.0  0.010537  247000.0
1256  11996.0 2018-01-03  b'EMLC'  19.250000   5155454.0  0.003650  247000.0
1257  11996.0 2018-01-04  b'EMLC'  19.360001   6102945.0  0.005714  247000.0
1506  12035.0 2018-01-02  b'AMLP'  11.060000  22659332.0  0.025023  952862.0
1507  12035.0 2018-01-03  b'AMLP'  11.330000  30880975.0  0.024412  952862.0

I will use a _multiindex_ of PERMNO and then DATE:

In [6]:
etf1 = etf.set_index(['PERMNO','DATE'])
etf1.head(20)

                     TICKER        PRC         VOL       RET    SHROUT
PERMNO  DATE
10113.0 2018-01-02  b'AADR'  60.299999     73052.0  0.024639    2850.0
        2018-01-03  b'AADR'  60.930000     44385.0  0.010448    2850.0
        2018-01-04  b'AADR'  61.160000    104484.0  0.003775    2850.0
11182.0 2018-01-02  b'GASL'  27.610001    185904.0  0.087436    1558.0
        2018-01-03  b'GASL'  28.400000    147624.0  0.028613    1558.0
        2018-01-04  b'GASL'  28.959999    141874.0  0.019718    1558.0
11264.0 2018-01-02  b'RETL'  38.040001     52975.0  0.055494     950.0
        2018-01-03  b'RETL'  38.020000     53995.0 -0.000526     950.0
        2018-01-04  b'RETL'  37.259998     84717.0 -0.019990     950.0
11363.0 2018-01-02  b'SCIN'  23.760000     29995.0  0.014085    1500.0
        2018-01-03  b'SCIN'  23.820000     16927.0  0.002525    1500.0
        2018-01-04  b'SCIN'  24.020000     11165.0  0.008396    1500.0
11407.0 2018-01-02   b'LIT'  39.669998    510632.0  0.023478   27675.0
        2018-01-03   b'LIT'  39.880001    836278.0  0.005294   27675.0
        2018-01-04   b'LIT'  39.840000    697283.0 -0.001003   27675.0
11996.0 2018-01-02  b'EMLC'  19.180000   1235135.0  0.010537  247000.0
        2018-01-03  b'EMLC'  19.250000   5155454.0  0.003650  247000.0
        2018-01-04  b'EMLC'  19.360001   6102945.0  0.005714  247000.0
12035.0 2018-01-02  b'AMLP'  11.060000  22659332.0  0.025023  952862.0
        2018-01-03  b'AMLP'  11.330000  30880975.0  0.024412  952862.0

Alternatively, we can index by date first and then permno:

In [7]:
etf2 = etf.set_index(['DATE','PERMNO'])
etf2.head(20)

                     TICKER        PRC         VOL       RET    SHROUT
DATE       PERMNO
2018-01-02 10113.0  b'AADR'  60.299999     73052.0  0.024639    2850.0
2018-01-03 10113.0  b'AADR'  60.930000     44385.0  0.010448    2850.0
2018-01-04 10113.0  b'AADR'  61.160000    104484.0  0.003775    2850.0
2018-01-02 11182.0  b'GASL'  27.610001    185904.0  0.087436    1558.0
2018-01-03 11182.0  b'GASL'  28.400000    147624.0  0.028613    1558.0
2018-01-04 11182.0  b'GASL'  28.959999    141874.0  0.019718    1558.0
2018-01-02 11264.0  b'RETL'  38.040001     52975.0  0.055494     950.0
2018-01-03 11264.0  b'RETL'  38.020000     53995.0 -0.000526     950.0
2018-01-04 11264.0  b'RETL'  37.259998     84717.0 -0.019990     950.0
2018-01-02 11363.0  b'SCIN'  23.760000     29995.0  0.014085    1500.0
2018-01-03 11363.0  b'SCIN'  23.820000     16927.0  0.002525    1500.0
2018-01-04 11363.0  b'SCIN'  24.020000     11165.0  0.008396    1500.0
2018-01-02 11407.0   b'LIT'  39.669998    510632.0  0.023478   27675.0
2018-01-03 11407.0   b'LIT'  39.880001    836278.0  0.005294   27675.0
2018-01-04 11407.0   b'LIT'  39.840000    697283.0 -0.001003   27675.0
2018-01-02 11996.0  b'EMLC'  19.180000   1235135.0  0.010537  247000.0
2018-01-03 11996.0  b'EMLC'  19.250000   5155454.0  0.003650  247000.0
2018-01-04 11996.0  b'EMLC'  19.360001   6102945.0  0.005714  247000.0
2018-01-02 12035.0  b'AMLP'  11.060000  22659332.0  0.025023  952862.0
2018-01-03 12035.0  b'AMLP'  11.330000  30880975.0  0.024412  952862.0

The indexes are correct, but they aren't sorted.  We sort here:

In [8]:
etf2 = etf2.sort_index()
etf2

                     TICKER        PRC       VOL       RET   SHROUT
DATE       PERMNO
2018-01-02 10113.0  b'AADR'  60.299999   73052.0  0.024639   2850.0
           11182.0  b'GASL'  27.610001  185904.0  0.087436   1558.0
           11264.0  b'RETL'  38.040001   52975.0  0.055494    950.0
           11363.0  b'SCIN'  23.760000   29995.0  0.014085   1500.0
           11407.0   b'LIT'  39.669998  510632.0  0.023478  27675.0
...                     ...        ...       ...       ...      ...
2018-01-04 93378.0  b'EIRL'  48.830002   18511.0  0.012231   1550.0
           93379.0  b'EPOL'  28.240000  498428.0  0.027656  13800.0
           93385.0  b'IBND'  35.528702   14654.0  0.008192   5600.0
           93414.0   b'SEA'  12.020000  202191.0  0.010084   8600.0
           93421.0  b'PICB'  27.690001   56253.0  0.004353   5900.0

[5627 rows x 5 columns]

Now it's time for groupby.

Suppose we want the daily returns on an EW portfolio.  That involves computing the mean of the ret column for different groups of observations.

1. Split
2. Apply
3. Combine

In [9]:
portmeans = etf2['RET'].groupby('DATE').mean()
portmeans.head()

DATE
2018-01-02    0.005925
2018-01-03    0.004250
2018-01-04    0.003595
Name: RET, dtype: float64

In [10]:
etf1.head()

                     TICKER        PRC       VOL       RET  SHROUT
PERMNO  DATE
10113.0 2018-01-02  b'AADR'  60.299999   73052.0  0.024639  2850.0
        2018-01-03  b'AADR'  60.930000   44385.0  0.010448  2850.0
        2018-01-04  b'AADR'  61.160000  104484.0  0.003775  2850.0
11182.0 2018-01-02  b'GASL'  27.610001  185904.0  0.087436  1558.0
        2018-01-03  b'GASL'  28.400000  147624.0  0.028613  1558.0

In [11]:
etf1.groupby("PERMNO").tail(1)

                     TICKER        PRC       VOL       RET   SHROUT
PERMNO  DATE
10113.0 2018-01-04  b'AADR'  61.160000  104484.0  0.003775   2850.0
11182.0 2018-01-04  b'GASL'  28.959999  141874.0  0.019718   1558.0
11264.0 2018-01-04  b'RETL'  37.259998   84717.0 -0.019990    950.0
11363.0 2018-01-04  b'SCIN'  24.020000   11165.0  0.008396   1500.0
11407.0 2018-01-04   b'LIT'  39.840000  697283.0 -0.001003  27675.0
...                     ...        ...       ...       ...      ...
93378.0 2018-01-04  b'EIRL'  48.830002   18511.0  0.012231   1550.0
93379.0 2018-01-04  b'EPOL'  28.240000  498428.0  0.027656  13800.0
93385.0 2018-01-04  b'IBND'  35.528702   14654.0  0.008192   5600.0
93414.0 2018-01-04   b'SEA'  12.020000  202191.0  0.010084   8600.0
93421.0 2018-01-04  b'PICB'  27.690001   56253.0  0.004353   5900.0

[1876 rows x 5 columns]

In [12]:
etf1["Large"] = etf1["RET"].shift()
etf1 #shifting the column without grouping

                     TICKER        PRC       VOL       RET  SHROUT     Large
PERMNO  DATE
10113.0 2018-01-02  b'AADR'  60.299999   73052.0  0.024639  2850.0       NaN
        2018-01-03  b'AADR'  60.930000   44385.0  0.010448  2850.0  0.024639
        2018-01-04  b'AADR'  61.160000  104484.0  0.003775  2850.0  0.010448
11182.0 2018-01-02  b'GASL'  27.610001  185904.0  0.087436  1558.0  0.003775
        2018-01-03  b'GASL'  28.400000  147624.0  0.028613  1558.0  0.087436
...                     ...        ...       ...       ...     ...       ...
93414.0 2018-01-03   b'SEA'  11.900000  216794.0  0.003373  8600.0  0.022414
        2018-01-04   b'SEA'  12.020000  202191.0  0.010084  8600.0  0.003373
93421.0 2018-01-02  b'PICB'  27.600000   27418.0  0.000362  5900.0  0.010084
        2018-01-03  b'PICB'  27.570000   83820.0 -0.001087  5900.0  0.000362
        2018-01-04  b'PICB'  27.690001   56253.0  0.004353  5900.0 -0.001087

[5627 rows x 6 columns]

In [13]:
etf1["LAG RET"]=etf1["RET"].groupby("PERMNO").shift()
etf1

                     TICKER        PRC       VOL       RET  SHROUT     Large  \
PERMNO  DATE
10113.0 2018-01-02  b'AADR'  60.299999   73052.0  0.024639  2850.0       NaN
        2018-01-03  b'AADR'  60.930000   44385.0  0.010448  2850.0  0.024639
        2018-01-04  b'AADR'  61.160000  104484.0  0.003775  2850.0  0.010448
11182.0 2018-01-02  b'GASL'  27.610001  185904.0  0.087436  1558.0  0.003775
        2018-01-03  b'GASL'  28.400000  147624.0  0.028613  1558.0  0.087436
...                     ...        ...       ...       ...     ...       ...
93414.0 2018-01-03   b'SEA'  11.900000  216794.0  0.003373  8600.0  0.022414
        2018-01-04   b'SEA'  12.020000  202191.0  0.010084  8600.0  0.003373
93421.0 2018-01-02  b'PICB'  27.600000   27418.0  0.000362  5900.0  0.010084
        2018-01-03  b'PICB'  27.570000   83820.0 -0.001087  5900.0  0.000362
        2018-01-04  b'PICB'  27.690001   56253.0  0.004353  5900.0 -0.001087

                     LAG RET
PERMNO  DATE
10113.0 2018-01-02       NaN
        2018-01-03  0.024639
        2018-01-04  0.010448
11182.0 2018-01-02       NaN
        2018-01-03  0.087436
...                      ...
93414.0 2018-01-03  0.022414
        2018-01-04  0.003373
93421.0 2018-01-02       NaN
        2018-01-03  0.000362
        2018-01-04 -0.001087

[5627 rows x 7 columns]

In [17]:
etf3 = etf1.reorder_levels(["DATE","PERMNO"])
etf3.head()

,,TICKER,PRC,VOL,RET,SHROUT,Large,LAG RET
DATE,PERMNO,,,,,,,
2018-01-02,10113.0,b'AADR',60.299999,73052.0,0.024639,2850.0,NaN,NaN
2018-01-03,10113.0,b'AADR',60.930000,44385.0,0.010448,2850.0,0.024639,0.024639
2018-01-04,10113.0,b'AADR',61.160000,104484.0,0.003775,2850.0,0.010448,0.010448
2018-01-02,11182.0,b'GASL',27.610001,185904.0,0.087436,1558.0,0.003775,NaN
2018-01-03,11182.0,b'GASL',28.400000,147624.0,0.028613,1558.0,0.087436,0.087436

In [18]:
etf3.sort_index()

                     TICKER        PRC       VOL       RET   SHROUT     Large  \
DATE       PERMNO
2018-01-02 10113.0  b'AADR'  60.299999   73052.0  0.024639   2850.0       NaN
           11182.0  b'GASL'  27.610001  185904.0  0.087436   1558.0  0.003775
           11264.0  b'RETL'  38.040001   52975.0  0.055494    950.0  0.019718
           11363.0  b'SCIN'  23.760000   29995.0  0.014085   1500.0 -0.019990
           11407.0   b'LIT'  39.669998  510632.0  0.023478  27675.0  0.008396
...                     ...        ...       ...       ...      ...       ...
2018-01-04 93378.0  b'EIRL'  48.830002   18511.0  0.012231   1550.0 -0.003717
           93379.0  b'EPOL'  28.240000  498428.0  0.027656  13800.0  0.003652
           93385.0  b'IBND'  35.528702   14654.0  0.008192   5600.0 -0.003112
           93414.0   b'SEA'  12.020000  202191.0  0.010084   8600.0  0.003373
           93421.0  b'PICB'  27.690001   56253.0  0.004353   5900.0 -0.001087

                     LAG RET
DATE       PERMNO
2018-01-02 10113.0       NaN
           11182.0       NaN
           11264.0       NaN
           11363.0       NaN
           11407.0       NaN
...                      ...
2018-01-04 93378.0 -0.003717
           93379.0  0.003652
           93385.0 -0.003112
           93414.0  0.003373
           93421.0 -0.001087

[5627 rows x 7 columns]

In [15]:
etf3=etf3.sort_index().dropna()
etf3

                     TICKER        PRC       VOL       RET   SHROUT     Large  \
DATE       PERMNO
2018-01-03 10113.0  b'AADR'  60.930000   44385.0  0.010448   2850.0  0.024639
           11182.0  b'GASL'  28.400000  147624.0  0.028613   1558.0  0.087436
           11264.0  b'RETL'  38.020000   53995.0 -0.000526    950.0  0.055494
           11363.0  b'SCIN'  23.820000   16927.0  0.002525   1500.0  0.014085
           11407.0   b'LIT'  39.880001  836278.0  0.005294  27675.0  0.023478
...                     ...        ...       ...       ...      ...       ...
2018-01-04 93378.0  b'EIRL'  48.830002   18511.0  0.012231   1550.0 -0.003717
           93379.0  b'EPOL'  28.240000  498428.0  0.027656  13800.0  0.003652
           93385.0  b'IBND'  35.528702   14654.0  0.008192   5600.0 -0.003112
           93414.0   b'SEA'  12.020000  202191.0  0.010084   8600.0  0.003373
           93421.0  b'PICB'  27.690001   56253.0  0.004353   5900.0 -0.001087

                     LAG RET
DATE       PERMNO
2018-01-03 10113.0  0.024639
           11182.0  0.087436
           11264.0  0.055494
           11363.0  0.014085
           11407.0  0.023478
...                      ...
2018-01-04 93378.0 -0.003717
           93379.0  0.003652
           93385.0 -0.003112
           93414.0  0.003373
           93421.0 -0.001087

[3750 rows x 7 columns]